<div class="container p4">
        <div class="row">
            {{#each usuari}}

            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        {{usuario}}
                    </div>
                    <p>{{contrasena}}</p>
                </div
                >
            </div>

            {{/each}}
        </div>
</div>
